a{
    background-color:rgb(30, 10, 2) ;
    background-size: 100%;
    color:teal;
    font-size:40px;
    border-radius: 10px;
    padding: 10px;
    float: left;
}
p.two{
    float:none;
    font-size:40px;
    background-color:rgb(30, 10, 2) ; 
    background-size: 100%;
    color:teal;
    border-radius: 10px;
    padding: 10px;
}

img{
    padding:10px;
    display: block;
}
img.one{
    border-radius: 40px;
    padding:10px;
    display: block;
}
img.three{
    border-radius: 40px;
    padding:10px;
    display: block;
}

img.estate:hover{
    transition-duration: 1s;
    width: 350px;
}
img.mental:hover{
    transition-duration: 1s;
    width: 350px;
}
img.commercial:hover{
    transition-duration: 1s;
    width: 350px;
}

img.estate{
    width:300px;
    border-radius: 0px;
    float: left;
}
img.mental{
    width:300px;
    border-radius: 0px;
    float: none;
}
img.commercial{
    width:300px;
    border-radius: 0px;
}
